:root {
    --header-height: 66px
}

html {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Barlow', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #fafafa;
    margin: 0;
}

.header {
    width: 100%;
    height: var(--header-height);
    background-color: #fadb14;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.header_title {
    margin: 0 0 0 24px;
    line-height: var(--header-height);
    color: #fff;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 12px;
    padding: 14px;
}

.wrap_note {
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    display: inline-flex;
    flex-direction: column;
    min-width: 355px;
    min-height: 120px;
    border-radius: 8px;
}

.wrap_note>h2 {
    font-size: 22px;
    margin: 10px;
}

.wrap_note>p {
    flex-grow: 1;
    font-size: 18px;
    margin: 10px;
}

.wrap_note button {
    align-self: flex-end;
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f5ba13;
    border: none;
    font-size: 16px;
    height: 36px;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

.wrap_note button:hover {
    transform: translateY(-4px);
    transition: all linear 0.2s;
}

.footer {

    bottom: 18px;
    width: 100%;
    text-align: center;
}

.group-from {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.group-from input,
.group-from textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

.group-from button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

@media( max-width: 63.9375em){
    .group-from{
        width:80%;
    }
    
    .content{
    justify-content: center;

    }
    .wrap_note{
    width: 88%;
    
    }
}